#Required:
#https://github.com/Rapptz/discord.py/archive/master.zip#egg=discord.py[voice]
discord.py[voice] #Of Course
cffi==1.6.0; sys_platform == 'win32' #Don't Know
mysqlclient #For Accessing the Database
requests #Yes
steam #WILL BE CHANGED IN THE FUTURE
psutil #Might be optional
lxml #This too, will decide in the future
sphinx>=1.5.6

#Optional: Comment out what you don't want enabled!
#uvloop
#oauthlib
feedparser
Pillow>=4.0.0 #Image and Profile Extension Require It
#cleverbot=1.1.1 #NO JUST NO
#bcrypt #Encryption. Because we will be storing passwords
#youtube_dl #For When I program the Music Functionality